@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white;
}

.dark body {
  @apply bg-darkBg;
}

/* Utility classes */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* WebKit (Chrome, Safari, Edge, Opera) */
*::-webkit-scrollbar {
  width: 0.5px;
}

@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ComicNeue';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ComicNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Manrope-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Manrope-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

body {
  cursor:
    url('/images/default.svg') 0 0,
    auto;
}

#bluxcc-button,
button,
a {
  cursor:
    url('images/pointer.svg') 0 0,
    pointer;
}

.cursor-nwse-resize {
  cursor:
    url('images/nwse-resize.svg') 0 0,
    nwse-resize;
}
.cursor-nesw-resize {
  cursor:
    url('images/nesw-resize.svg') 0 0,
    nesw-resize;
}

.cursor-n-resize {
  cursor:
    url('images/n-resize.svg') 0 0,
    n-resize;
}

.cursor-e-resize {
  cursor:
    url('images/e-resize.svg') 0 0,
    e-resize;
}
